@font-face {
    font-family: DINOT-Light;
    src: url(/Content/Public/images/DINOT-Light.ttf), url(/Content/Public/images/dinot-light.eot);
}


.clear_fix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/** html .clear_fix {
    zoom: 1;
}*/

/* IE6 */
/**:first-child + html .clear_fix {
    zoom: 1;
}*/

* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: Open Sans;*/
}

.outer_container {
    width: 100%;
    height: auto;
}

.inner_container {
    max-width: 1200px;
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 0px 15px;

}

.navbar-inverse .navbar-nav > li > a > p{
    color: #c96;
    float: left;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a > p:hover{
	color: #fff;
}

.navbar-nav > li > a > p {
    margin: -30px 0 10px;

}

.navbar-nav > li > a > img {
    margin: 0 auto;
}

.padding_zero {
    padding-left: 0px ! important;
	padding-right:0px ! important;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

/*=======================header ends================*/

/*=======================Secondary Header=====================*/
.SecondaryHeader {
    Background-color: #b79556;
    width: 100%;
    height: auto;
    min-height: 92px;
    position: relative;

}

.SecondaryHeader_one ul li a {
    display: inline-block;
    float: left;
    height: auto;
    min-height: 92px;
    width: 164px;
    padding-top: 30px;

}

.SecondaryHeader_one li a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px
}

/*=======================================Sec_Menu==========================*/
.inner_menu_container{
    background-color: #b79556;
    min-height: 87px;
    position: relative;
    width: 100%;

}
.SecondaryMenu {
    float: left;
    position: relative;
    width: 100%;
}
.SecondaryMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*.SecondaryMenu ul li:first-child {*/
/*float: left;*/
/*height: 40px;;*/
/*margin-left: -50px;*/
/*position: relative;*/
/*width: 40px !important;*/
/*}*/
.SecondaryMenu ul li{
    float:left;
    display:inline-block;
}
.SecondaryMenu li a {
    color: #000;
    float: left;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13.5px;
    padding: 12px 8px 8px 10px;
    text-align: center;
    text-decoration: none;
    width: 164px !important;
}
.SecondaryMenu li a:hover, .secondaryMenuTwoLines {
    background-image: url(../images/SecondaryMenu_hover.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 65px;
}
.SecondaryMenu1 li a:hover, .secondaryMenuTwoLines1 {

    height: 0px;
}



/*=======================================Sec_Menu ends==========================*/

/*========================== Banner =======================*/
.HomeBanner_bg {
    background-image: url(../images/HomeBanner_bg.jpg);
    float: left;
    height: auto;
    min-height: 498px;
    position: relative;
    width: 100%;
}

.HomeBannerBackground {
    background-image: url(../images/HomeBanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 498px;
    margin: 0;
    padding: 0;
}

.glry {
    cursor: pointer;
}

.Gallery {
    float: left;
    position: relative;
    width: 100%;
}

.GaleryLeftPanel {
    float: left;
    /*margin-left: 18px;*/
    margin-top: 337px;
    position: absolute;
    width: 100%;
}

.GalleryMiddlePanel {
    float: left;
    height: 497px;
    /*margin-left: 140px;*/
    position: relative;
    width: 100%;
}

.GaleryRightPanel {
    float: right;
    position: absolute;
    /*right: 25px;*/
    top: 24px;
    width: 100%;
}

.EnqueryPanel {
    -ms-border-radius: 50px;
    border-radius: 50px;
    bottom: 1%;
    float: right;
    /*height: 350px;*/
    height: 398px;
    position: fixed;
    right: 7px;
    z-index: 10;
}

.Enquery {
    background: url(../images/ConsultUS_maindiv.png) no-repeat;
    float: left;
    /*height: 350px;*/
    height: 468px;
    position: relative;
    /*width: 350px;*/
    width: 393px;
    display:none;
}

.enqThumb {
    /*bottom: 5%;*/
    bottom: 0%;
    float: right;
    position: absolute;
    /*right: 45px;*/
    right: 37px;
    z-index: 11;
}

.enqThumb img {
    cursor: pointer;
}

.cancle {
    cursor: pointer;
    float: left;
    margin-top: 168px;
    position: relative;
}

.Enquery table {
    /*margin-top: 50px;*/
    margin-top: 37px;
    position: relative;
}

.Enquery table .enqHead {
    color: #d2ab67;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 50px;
}

.Enquery input[type=text], .Enquery textarea {
    color: #999;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    height: 32px;

    padding: 4px;
    width: 160px !important;
    margin-top: 6px;
}

.Enquery textarea {
    height: 50px !important;
}

.Enquery input[type=image] {
    float: left;
    height: auto !important;
    margin-top: 10px;
}
.input-validation-error {
    background-color: #fee;
    border: 1px solid red;
}
.field-validation-error {
    color: red;
    display: none;
}

/*========================== Banner ends =======================*/

/*=============================HomeTopPanel================*/
.HomeTopPanel {
    width: 100%;
    height: auto;
    Background-color: #322e2b;
    float: left;
    position: relative;
    text-align: center;

}

.HomeTopPanel_menu img {
    margin: 20px auto;
}

.HomeTopPanel_menu h4 {
    color: #c96;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
}

.HomeTopPanel_menu h2 {
    color: #c96;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
}

.HomeTopPanel_menu p {
    color: #ccc;
    font-size: 14px;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
    line-height: 22px;
}

/*=============================HomeTopPanel ends================*/

/*=========================HomeMiddlePannel====================*/
.HomeMiddlePanel {
    width: 100%;
    height: auto;
    background-color: #fcf5ee;
    position: relative;
    text-align: center;
    /*background-image: url(../images/pannelMixer.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: top;*/

}

.HomeMiddlePanel img {
    margin: 8px auto;
}

.HomeMiddlePanel p {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    line-height: 22px;
}

.HomeMiddlePanel h4 {
    color: #996;
    font-family: DINOT-Light, sans-serif;
    font-size: 22px;
    font-weight: 400;
    /*line-height: 0;*/
    text-align: center;
    margin-top: 12%;
}

.HomeMiddlePanel_Left h3 {
    color: #000;
    font-family: DINOT-Light, sans-serif;
    font-size: 40px;
    font-weight: 100;
    /*line-height: 0;*/
    text-align: center;
    margin-top: 10%;

}



.HomeMiddlePanel_Left h1 {
    color: #000;
    font-family: DINOT-Light, sans-serif;
    font-size: 40px;
    font-weight: 100;
    /*line-height: 0;*/
    text-align: center;
    margin-top: 10%;

}

.HomeMiddlePanel_Left h5 {
    color: #000;
    font-family: DINOT-Light, sans-serif;
    font-size: 30px;
    font-weight: 100;
    /*line-height: 0;*/
    text-align: center;
}

.HomeMiddlePanel_Middle img {
    padding: 13px;
}

.HomeMiddlePanel_Left img {
    padding: 10px;
}

/*=========================== HomeBottomPanel=========================*/
.HomeBottomPanel {
    width: 100%;
    height: auto;
    min-height: 225px;
    background-color: #d2ab67;
    background-image: url(../images/Equalizer.png);
    background-position: bottom;
    background-repeat: repeat-x;
    float: left;
    position: relative;
}

.HomeBottomPanel_Left {
    margin-top: 15px;
    /*background-image:url(../images/HomeBottomLeft_Bg.png);*/
    /*background-repeat:no-repeat;*/
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 134px;

}

.HomeBottomPanel_Left p {
    /*-webkit-font-smoothing: antialiased;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;

    /*padding: 7px 38px 10px 43px;*/
}

.HomeBottomPanel_Left span {
    float: right;
    font-size: 12px !important;
    font-style: italic;
    padding-right: 6px;
    padding-top: 15px;
    margin-bottom: 60px;

}

.HomeBottomPanel_Left a {
    -webkit-font-smoothing: antialiased;
    color: #000;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.HomeBottomPanel_Right {
    position: relative;
    margin-bottom: 60px;
}

.HomeBottomPanel_Right h3 {
    float: right;
    font-size: 16px;
    padding-right: 158px;
    margin-top: -127px;
    font-weight: 600;
    font-family: sans-serif;
}

.HomeBottomPanel_Right p {
    position: Relative;
    color: #ffc !important;
    float: right;
    font-size: 13px !important;
    margin-left: 130px;
    margin-top: -105px;
    font-family: sans-serif;
    width: auto!important;
    padding-left: 0!important;

}

/*.HomeBottomPanel_Right h6{*/
/*font-family: sans-serif;*/
/*margin-left: 60px;*/
/*margin-top: -28px;*/
/*font-weight: bold;*/
/*}*/
/*.HomeBottomPanel_Right h6 a {*/
/*font-size: 12px;*/
/*margin-left: 54px;*/
/*!*margin-top: -28px;*!*/
/*font-family: sans-serif;*/
/*color:#000;*/
/*text-decoration: none;*/
/*}*/

.testimonial_container {
    width: 100%;
    height: auto;

    overflow: hidden;

}

.each_testimonial_container p {
    display: block;
    width: 91%;
    padding: 10px;
    margin-left: 45px;
}

.testimonial_container .slick-prev, .testimonial_container .slick-next, .news_container .slick-prev, .news_container .slick-next {
    /*display: none !important;*/

}

/*=========================== HomeBottomPanel ends=========================*/
.scroll_content {
    /*width: 748px;*/
    height: auto;
    display: inline-block;

}

.scrollbar {
    /*width: 750px;*/
    /*height: 453px;*/
    /*background-color:lightgray;*/
    overflow-y: scroll;
    float: left;
}

/*.content {*/
/*height: 450px;*/
/*}*/

#ex3::-webkit-scrollbar {
    width: 7px;
    /*background-color: #ecedeb;*/

    background-color: #b49b71;
}

#ex4::-webkit-scrollbar {
    width: 7px;
    background-color: #ecedeb;
}

#ex5::-webkit-scrollbar {
    width: 7px;
    background-color: #ecedeb;
}

#ex3::-webkit-scrollbar-thumb {
    /*background-color: #cccccc;*/
    border-radius: 10px;
    background-color: #9c7c47;
}

#ex::-webkit-scrollbar-thumb {
    /*background-color: #cccccc;*/
    border-radius: 10px;
    background-color: #9c7c47;
}

#ex3::-webkit-scrollbar-thumb {
    /*background-color: #cccccc;*/
    border-radius: 10px;
    background-color: #9c7c47;
}

.scroll_content p {
    color: #959799;
    font-family: Open Sans;
    display: inline-block;
    /*width: 720px;*/
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 22px;
}

/*=========================== inner page=========================*/

.row1{
    margin-top:30px;
    margin-bottom:60px;
}
.InnerContentPanel {
    background-color: #fcf5ee;
    background-image: url(../images/Equalizer.png);
    background-position: bottom;
    background-repeat: repeat-x;
    float: left;
    height: auto;
    min-height: 610px;
    position: relative;
    width: 100%;

}

.InnerBredcrms h3 {
    border-bottom: 1px solid #fc9;
    color: #000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 15px;
    letter-spacing: 0.03em;
    position: relative;
    width: 100%;
    margin-bottom: 10px;

}

.inner_header h1 {
    width: 58.33333333%;
    color: #996;
    font-family: DINOT-Light, sans-serif;
    /*font-size: 46px;*/
    font-weight: 100;
    margin: 20px 0;
    letter-spacing: 0.02em;
}

.Inner_header p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: justify;
    letter-spacing: 0.04em;
    line-height: 24px;

}
.product-page p{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.04em;
    line-height: 24px;
}

.innerRightPanel img {
    margin: 0 auto;

}

/*=================Scroll text========================*/
.content_1 {
    float: left;
    padding: 0 5px;
}

.content {
    height: 350px;
    /*overflow: auto;*/
    padding: 10px;
    /*width: 490px;*/
    width: 100%;
    padding: 10px;
}

.innerLeftPanel p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 22px;
}

/*=========================== inner page ends=========================*/

/*=======================================Articles page ================================*/
.ArticlesLeftPanel {
    background: url(../images/shadow.jpg) repeat-y right top;
    float: left;
    height: auto;
    /*margin-bottom: 33px;*/
    margin-bottom: 100px;
    min-height: 800px;
    padding-top: 32px;
    position: relative;
    width: 100%;
}

.FeaturedArticles ul li {
    background: url(../images/featureddivider.jpg) repeat-x center bottom;
    float: left;
    height: auto;
    list-style: none;
    margin-top: 0px;
    min-height: 180px;
    width: 100%;
}

.FeaturedArticles h3 {
    border-bottom: 1px solid #ddb792;
    color: #ac925f;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.03em;
    /*padding-bottom: 12px;*/
    /*padding-right: 30px;*/
}

.FeaturedArticleText {
    float: left;
    /*margin: 10px auto;*/
    margin: 30px auto;
    position: relative;
    width: 100%;
}

.FeaturedTitle {
    color: #625b55;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}

.FeaturedTitle h2 {
    color: #625b55;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}

.ArticlesLeftPanel h1 {
    font-size:24px !important;
}

.FeaturedDetails {
    color: #666;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0.02em;
    line-height: 21px;
    width: 100%;
    padding: 0px 50px 0px 0px;
}

.Menus {
    float: left;
    height: 22px;
    margin-top: 21px;
    width: 100%;
}

.Dateofposted {
    background: #625b55;
    color: #FFF;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 176px;
}

.TotalViews {
    background: #d7c084;
    color: #000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 139px;
}

.featuredMore a {
    background: #000;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 86px;
    text-decoration: none;
    margin-top: 8px !important;
}

.ArticlesRightPanel {
    float: left;
    /*margin-left: 20px;*/
    position: relative;
    width: 100%;
    /*margin-bottom: 90px;*/
    margin-bottom: 100px;
}

.SearchBox {
    background: #625b55;
    -ms-border-radius: 10px;
    border-radius: 10px;
    float: left;
    height: 46px;
    margin-top: 0px;
    padding: 10px;
    width: 237px;
}

.searcharticle {
    border: 0;
    -ms-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    color: #999;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 26px;
    padding-left: 10px;
    width: 186px;
}

.searcharticlebtn {
    background: #d2ab67;
    border: 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    color: #000;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 28px;
    margin-left: 3px;
    text-align: center;
    width: 28px;
}

.Categories {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
}

.Categories h3 {
    background: url(../images/categoriesborder.jpg) no-repeat left bottom;
    color: #ac925f;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.Categories ul {
    float: left;
    list-style-image: url(../images/artcielsarrow.jpg);
    margin: 0;
    padding-left: 23px;
}

.Categories ul li:last-child {
    border: 0;
}

.Categories ul li {
    border-bottom: 1px solid #ddb792;
    color: #666;
    float: left;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    width: 100%;
}

.Categories ul li a {
    color: #666;
    text-decoration: none;
}

.LatestArticlesPanel {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.LatestArticlesPanel h3 {
    background: url(../images/categoriesborder.jpg) no-repeat left bottom;
    color: #ac925f;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.LatestArticlesPanel h2 {
    background: url(../images/categoriesborder.jpg) no-repeat left bottom;
    color: #ac925f;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.LatestArticlesPanel ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.LatestArticlesPanel ul li {
    border-bottom: 1px solid #ddb792;
    float: left;
    height: auto;
    min-height: 93px;
    width: 100%;
}

.LatestArticleTitle {
    color: #625b55;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /* margin-left: 10px; */
    margin-top: 17px;
    width: 97%;
    letter-spacing: 0.04em;
}

.Morearticles {
    color: #ac925f;
    float: right;
    font-size: 12px;
    margin: 3px 0 0;
}

.Morearticles a {
    color: #ac925f;
    text-decoration: none;
}

.ArticlesHead {
    background: url(../images/articletitleborderimg.jpg) no-repeat bottom left;
    float: left;
    min-height: 44px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.ArtcilesTitle {
    color: #625b55;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    width: 100%;
}

.ArtcilesTitle h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
}

.ArtcilesTitle h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
}

.ArtcilesTitle span {
    font-size: 12px;
}

.shareFB {
    float: left;
    margin-right: 5px;
}

.ArticlesDetails {
    float: left;
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.ArticlesDetails p {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*text-align: left;*/
    width: 90%;
    float: left;
    letter-spacing: 0.02em;
    text-align: justify;
}

.ArticlesDetails ul {
    color: #666;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: justify;
    width: 80%;
    letter-spacing: 0.02em;
    padding-left: 30px;
}

.ArticlesDetails ul li {
    list-style-type: disc;
	clear: both;
}

.Menu {
    color: #625b55;
    float: left;
    font-size: 12px;
    /*margin-top: 10px;*/
    padding-bottom: 15px;
}

.Navigation {
    display: none;
    float: left;
    width: 100%;
}

.previous {
    float: left;
    height: 22px;
    width: 23px;
}

.navArticle {
    float: left;
}

.next {
    float: right;
    height: 22px;
    width: 23px;
}

/*=======================================Articles page ends ================================*/
/*======================================= Contact Us =======================================*/
.ContactUs {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    padding-right: 70px;
    padding-top: 30px;
}

.ContactUs p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.02em;
    line-height: 24px;
    padding: 5px 0px 0px 0px;
}

.ContactUs p span {
    font-size: 15px;
    font-weight: bold;
}

.ContactUs_Map {
    position: relative;
    margin-top: 43px;
    margin-bottom: 60px;
    width: 100%;
    height: auto;
    min-height: 350px;
    border: 1px solid #cccccc;
    display: inline-block;
    float: left;
}

.ContactUs_Map iframe {
    width: 100%;
    height: auto;
    min-height: 680px;
    /*new*/
    border:0px;
    overflow:hidden;
    /*marginheight: 0px;
    marginwidth:0px;*/
}

.enquirepage {
    margin-top: 20px;
}

.enquirepage img {
    margin: 0 auto;
}

.enqbtn {
    margin-top: 20px;
    width: 20%;
    text-align: center;
}

.form_fields {
    width: 100%;
    height: auto;
}

.form_fields input[type="text"] {
    width: 100%;
    margin: 16px 0px auto;
    padding: 9px;
    display: block;
    font-family: arial, sans-serif;
}

.form_fields textarea {
    display: block;
    width: 100%;
    font-family:arial, sans-serif;
    margin: 0 auto;
    height: 100px;
    padding: 5px;
    margin-top:17px;
    resize: none;
}

.form_fields input[type="submit"] {
    float: left;
    display: block;
    border: none;
    background: #ac925f;
    font-family: arial, sans-serif;
    text-align: center;
    color: #ffffff;
    padding: 6px;
    width: 128px;
    margin: 10px 0;
    cursor: pointer;
}
.field-validation-error
{
    color: red!important;
    font-size:15px;
    /*font-family:"DINOT-Light, sans-serif";*/
    margin-left:10px;
}



/*===========================product page=================================*/
/*.each_product_container{*/
/*border-bottom: 1px solid #f8d8b8;*/
/*}*/
.each_row_devider {
    border-bottom: 1px solid #f8d8b8;
    margin-bottom: 60px;
}

.each_product_container img {
    border-radius: 155px;
    margin: 0 auto;
    border: 1px solid #e5e4e3;
}

.each_product_container h2 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    text-align: center;
    font-weight: 700;
}

.each_product_container a {
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.borderFor {
    background: url(../images/amp_panelDevider.png) no-repeat left;
}

.each_product_container p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 45px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.02em;

}




.img_center {
    padding-left: 70px;
    padding-bottom: 20px;
    /*margin-left: 0px ! important;*/
}

.modal-body h2 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: 0.03em;

}

.modal-body p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: auto;
    /* overflow: hidden; */
    padding: 10px;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 22px;
}

.modal-body img {
    margin: 0 auto;
}

/*========================================== Contact Us ends ====================================*/
/*================== footer ==================*/
.footer {
    width: 100%;
    height: auto;
    background-color: #040707;
    position: relative;
    padding: 10px 0px;
}

.primaryfooter ul {
    display: inline-block;
    position: relative;
    float: left;
    /*padding:0px 10px;*/
    height: auto;
    min-height: 20px;
    list-style: none;

}

.primaryfooter ul li a {
    font-weight: 600;

}

.primaryfooter ul li ul li a {
    background-image: url(../images/footermenu_bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    font-weight: 400;
    line-height: 25px;
    /*margin-left: -40px;*/
    padding-left: 10px;

}

.primaryfooter a {
    color: #996;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.primaryfooter_sec ul {
    float: left;
    position: relative;
    list-style: none;
}

.primaryfooter_sec ul li a {
    font-weight: 600;
    list-style: none;
}

.primaryfooter_sec a {
    color: #996;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.Footer_secondarymenu {
    background-color: #322e2b;
    height: auto;
    min-height: 64px;
    position: relative;
    width: 100%;
}

.SecondaryFooter {
    margin-left: 20px;
}

.SecondaryFooter p, .SecondaryFooter a, .SecondaryFooter_inner ul li a {
    color: #c8c7c7;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.04em;
    margin-top: 23px;
    position: relative;
    text-decoration: none;
}

.SecondaryFooter_inner ul li {
    display: inline-block;
}

.FloatingMenu {
    float: right;
    position: fixed;
    right: 1px;
    top: 50%;
}

.FloatingMenu img
{
    border:0;
}



/*===============================Sitemap===============================*/
#sitemap {
    font-family: 'Droid Sans', sans-serif;
    padding-left: 10px;
    margin-bottom: 60px;
}

#sitemap li {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
    list-style-image: url(../images/footermenu_bg.jpg);
    margin-left: 30px;

}

#sitemap li a {
    color: #333;
    text-decoration: none;

}

#sitemap ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    list-style-image: url(../images/footermenu_bg.jpg);

}

#sitemap ul li a {
    color: #333;
    text-decoration: none;

}

/*========= done by pruthvi ========*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    float: right;
}

.navbar-nav > li > a > p {
    margin: -30px 0 10px;
    font-size: 12px;
    letter-spacing: 0.03em;
}

.feedback_container{
    width: 350px;
    height: auto;
    position: fixed;
    top: 40%;
    z-index: 99;
    left: -300px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}
.feedback_hood{
    cursor: pointer;
    display: inline-block;
    float: none;
    padding-left: 0px;
}
.feedback_hood img{
    height: auto;
}
.feedback_form_container{
    display: inline-block;
    float: left;
    width: 300px;
    background:#F5F2EC;
    border: 1px solid lightgray;
    padding:5px 5px 0px 5px;
}

/*============Client CSS=============*/
.row1{
            margin-top:30px;
            margin-bottom:60px;
        }

#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
  width: 635px;
  height: auto;

}
.panel-body p{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 22px;
    text-align: justify;
}
.collapse.in{
    background:  #fcf5ee;
}
.accordion-title{
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #b79556;
  text-decoration: none;
}



#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #b79556;
  color: white;
  transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}
#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: left;
   background: #e8ce9d;
}
#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #b79556;
  font-family: DINOT-Light, sans-serif;
  transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: right;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}
#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}

/*=============new styles for SEO===============*/

.iframeStyle{
    width:100%;
    height:250px;
    border:0;
}

.productDetails a{
    display: block !important; 
    width: 100% !important;
    margin-bottom:05px !important;
}

.InnerBredcrms h2 {
    border-bottom: 1px solid #fc9;
    color: #000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 15px;
    letter-spacing: 0.03em;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.glryimg1
{
     z-index: 100 !important;
     width:140px !important;
     height:140px !important;
}

.glryimg2
{
    z-index: 99 !important;
    width:715px !important; 
    height:498px !important;
}

.glryimg3
{
    z-index: 98 !important;
    width:140px !important;
    height:140px !important;
}

.HomeMiddlePanel_Right h4
{
     margin-top: 0 !important;
}

.EnquiryText
{
     float: left; 
     color:white;
     font-weight:500;
     margin-top:-160px;
     text-align:center;
     padding:0 30px;
}

.EnquiryTextHeader
{
     font-size: 17px;
     font-weight: 500;
     color: white;
}

.Amplifier_innerdiv a
{
    color: #333333;
}

.ArticlesDiv
{
    height:100px;
}

/*=============new styles for SEO===============*/

/*============Client Css=============*/

/*=========== Responsive ============*/
@media (max-width: 1200px) {
    .popUpPruducts img.thumbImg {
       margin: 35px 10px 10px -70px;
    }
}
@media (max-width: 1024px) {
    .navbar-nav > li > a > p {
        font-size: 9px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 10px;
    }

    .nav > li > a {
        padding: 10px 14px;
    }

    .navbar-collapse {
        padding-right: 0px;
    }

    .HomeBottomPanel_Right h3 {
        padding-right: 93px;
    }

    .img_center {
        padding-left: 37px;
    }
    .GalleryMiddlePanel {
        height: 415px;
    }
    .GaleryLeftPanel {
        margin-top: 256px;
        margin-left: 23px;
    }

    .HomeBanner_bg{
        min-height: 416px;
    }

    .HomeBannerBackground {
        min-height: 413px;
    }

    .GaleryRightPanel {
        right:19px;
    }
    .SecondaryMenu li a {
        padding: 10px 4px 10px 4px;
        width: 131px !important;
    }
    .SecondaryMenu li a:hover, .secondaryMenuTwoLines{
        height:71px;
    }


}

 

@media (max-width: 768px)
{
    .HomeTopPanel_menu p
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    .HomeMiddlePanel p
    {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
        line-height: 19px;
    }

    .navbar-collapse
    {
        padding-right: 0px;
        padding-left: 0px;
    }

    .container
    {
        width: 100%;
    }

    .innerRightPanel img
    {
        margin-bottom: 60px;
    }

    .HomeBottomPanel_Right h3
    {
        padding-right: 61px;
        margin-top: -137px;
    }

    .HomeBottomPanel_Right p
    {
        font-size: 12px !important;
        margin-left: 113px;
        margin-top: -117px;
        font-weight: 500;
    }

    .HomeBottomPanel_Right img
    {
        /*float:right;*/
        margin-top: 28px;
    }

    .HomeBottomPanel_Right h6
    {
        margin-top: 0px;
    }

    .img_center
    {
        padding-left: 43px;
    }

    .Sec_menu_devider
    {
        min-height: 129px;
    }

    .GalleryMiddlePanel
    {
        height: 268px;
    }

    .GaleryLeftPanel
    {
        margin-top: 128px;
        margin-left: 3px;
    }

    .HomeBanner_bg
    {
        min-height: 268px;
    }

    .HomeBannerBackground
    {
        min-height: 268px;
    }

    .SecondaryMenu li a
    {
        padding: 2px 3px 2px 3px;
        width: 96px !important;
    }

        .SecondaryMenu li a:hover, .secondaryMenuTwoLines
        {
            height: 82px;
        }

    /*.amplifierDetail
    {
        margin-left: 30px !important;
    }*/

    .popUpPruducts
    {
        margin-left: 5px !important;
    }

    /*.Image
    {
        padding-left:135px ! important;
    }*/

    .popUpPruducts h1
    {
        text-align: center !important;
    }

    .productDetails {
    margin-top: 0px ! important;
    margin-bottom: 30px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	float:none;
}
.navbar-inverse .navbar-nav > li > a > p{
	float:none;
}

}



@media (max-width: 640px) {
    .SecondaryFooter p, .SecondaryFooter a, .SecondaryFooter_inner ul li a {
        font-size: 13px;
        letter-spacing: 0.04em;
        margin-top: 10px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #101010;
        float: none;
    }
    .navbar-nav > li > a > p {
        font-size: 13px;
        padding: 3px 0px;
    }
    .new_menudivider img {
        display: none;
    }

    .navbar-nav {
        margin: 7.5px 0px;
    }

    .navbar-inverse .navbar-nav > li > a {

        float: none;
    }

    .navbar-toggle {
        margin-top: 33px;
    }

    .img_center {
        padding-left: 155px;
    }

    .borderFor {
        background: none;
    }

    .each_row_devider {
        border-bottom: none;
    }



    .ContactUs {
        padding-right: 32px;
    }

    .HomeBottomPanel_Right img {
        float: right;
        margin-top: -19px;
        margin-bottom: 60px;
        margin-right: 102px;
    }

    .HomeBottomPanel_Right h3 {
        padding-right: 195px;
        margin-top: -203px;
    }

    .HomeBottomPanel_Right p {
        font-size: 13px !important;
        margin-left: 273px;
        margin-top: -166px;
        font-weight: 500;
    }

    .GalleryMiddlePanel {
        height: 226px;
    }
    .GaleryLeftPanel {
        margin-top: 110px;
    }

    .HomeBanner_bg{
        min-height: 227px;
    }

    .HomeBannerBackground {
        min-height: 161px;
    }
    .GaleryRightPanel {
        right: 15px;
    }

    .SearchBox {
        margin-top: 29px;
    }
    .SecondaryMenu ul li img{
        display:none;
    }
    .SecondaryMenu li a {
        width:557px ! important;
        padding: 6px 3px 6px 3px;

    }
    .SecondaryMenu li a:hover, .secondaryMenuTwoLines{
        height: 27px;
        background: none;
        color:#ffffff;
    }

    .productDetails
    {
        margin-top: 0px !important;
         margin-bottom:20px;
    }

    /*.amplifierDetail
    {
        margin-left:90px ! important;
    }*/

     .amplifierDetail ul
    {
        margin-left:100px ! important;
    }

     .popUpPruducts
    {
        margin-left:30px ! important;
    }

     .Image
    {
        padding-left:15px ! important;
    }

    .inner_header h1
    {
        width: 100%;
    }

     /*.popUpPruducts img.thumbImg
    {
        margin-left: 35px;
        width: 350px !important;
        height: 350px;
    }*/
}

@media (max-width: 480px) {
    .Dateofposted {
        width: 143px;
    }

    .TotalViews {
        width: 109px;
    }

    .featuredMore a {
        width: 63px;
    }

    .ContactUs_Map {
        width: 377px;
    }

    .ContactUs_Map iframe {
        width: 377px;
        min-height: 350px;
    }

    .HomeBottomPanel_Right {
        /*position:relative;*/
        margin-bottom: 60px;
    }

    .img_center {
        padding-left: 74px;
    }

    .ContactUs {
        padding-right: 11px;
    }

    .HomeBottomPanel_Right p {

        margin-left: 122px;

    }

    .GalleryMiddlePanel {
        height: 155px;
    }
    .GaleryLeftPanel {
        margin-top: 73px;
        margin-left: 0px;
    }

    .HomeBanner_bg{
        min-height: 156px;
    }

    .HomeBannerBackground {
        min-height: 148px;
    }

    .SecondaryMenu li a {
        width: 400px ! important;
    }

    .productDetails
    {
        margin-top: 0px !important;
         margin-bottom:20px;
    }

     #AmplifierDetail ul li
    {
        margin-left: 40px ! important;
    }

      .amplifierDetail
    {
        margin-left:0px ! important;
    }

      .amplifierDetail ul
    {
        margin-left:0px ! important;
    }

      .Image
    {
        padding-left:15px ! important;
    }

    .AmplifierDetails_img
    {
        margin-left:60px ! important;
        margin-bottom:10px ! important;
    }

    .product-page p
    {
        clear: both;
    }

     /*.popUpPruducts img.thumbImg
    {
        margin-left: 0px ! important;
        width: 0px !important;
        height: 0px ! important;
    }*/
}

@media (max-width: 414px) {
    .small_dev_menu {
        width: 50%;
    }


    .ContactUs_Map {
        width: 226px !important;
    }

    .ContactUs_Map iframe {
        width: 224px !important;
    }

    .img_center {
        padding-left: 43px;
    }

    .each_testimonial_container p {

        width: 100%;

        margin-left: 0px;
    }
    .Sec_menu_container_each {
        min-height: 118px;
    }
    .GalleryMiddlePanel {
        height: 133px;
        margin-left: 13px;
    }
    .GaleryLeftPanel {
        margin-top: 66px;
        margin-left: 10px;
    }

    .HomeBanner_bg{
        min-height: 133px;
    }

    .HomeBannerBackground {
        min-height: 133px;
    }
    .GaleryRightPanel {
        right: 0px;
        top: 8px;
    }
    .HomeBottomPanel_Right img {
        margin-left: -10px;
        float: left;
    }
    .SecondaryMenu li a {
        width: 324px ! important;
    }

     .amplifierDetail ul
    {
        margin-left:-30px ! important;
    }
}
@media (max-width: 375px) {
    .HomeBottomPanel_Right p {
        margin-top:-191px;
    }

}
@media (max-width: 360px) {
    .HomeBottomPanel_Right p {
        margin-top:-191px;
    }
    .HomeBanner_bg{
        min-height: 111px;
    }

    .HomeBannerBackground {
        min-height: 111px;
    }
    .GalleryMiddlePanel {
        height: 111px;
        margin-left: 13px;
    }

    .popUpPruducts img.thumbImg
    {
        border-radius:100px;
        width:100px;
        height:100px;
    }
}

@media (max-width: 320px) {

    .img-responsive {
        max-width: 78%;
    }

    .navbar-toggle {
        margin-top: 25px;
        margin-right: 0px;
    }

    .HomeBottomPanel_Right p {
        font-size: 11px !important;
        margin-left: 67px;
        margin-top: -147px;
        letter-spacing: 0.03em;

    }

    .HomeBottomPanel_Right h6 a {
        margin-left: 29px;
    }

    .HomeBottomPanel_Right img {
        margin-left: -10px;
        float: left;
    }

    .HomeBottomPanel_Right h3 {
        padding-right: 90px;
        margin-top: -163px;
    }

    /*.each_testimonial_container p {*/
    /*width: 100%;*/
    /*margin-left: 3px;*/
    /*}*/
    .Menus {
        width: 72%;
    }

    .FeaturedArticleText {
        margin: 31px auto;
    }

    .ContactUs {
        padding-right: 32px;
    }
    .GalleryMiddlePanel {
        height: 72px;
        margin-left: 13px;
    }
    .GaleryLeftPanel {
        margin-top: 36px;
        margin-left: 10px;
    }

    .HomeBanner_bg{
        min-height: 72px;
    }

    .HomeBannerBackground {
        min-height: 72px;
    }
    .GaleryRightPanel {
        right: 14px;
        top: 8px;
    }
    .SearchBox {
        width: 217px;
    }
    .searcharticle {
        width: 166px;
    }
    .SecondaryMenu li a {
        width: 279px ! important;
    }

    .popUpPruducts img.thumbImg
    {
        border-radius:100px;
        width:100px;
        height:100px;
    }

    .productDetails
    {
        margin-top: 0px !important;
         margin-bottom:20px;
         margin-left:-13px ! important;
    }

        .popUpPruducts h1
        {
            text-align:center !important;
        }

        .Amplifier_topDivMiddleNew
        {
            margin-left: -75px ! important;
        }

         .popUpPruducts
    {
        margin-left: 15px !important;
    }

    .Image
    {
        margin-left:-20px;
    }
    .amplifierDetail
    {
        margin-left:0px ! important;
    }

    
      .amplifierDetail ul
    {
        margin-left:0px ! important;
    }

       .AmplifierDetails_img
        {
            margin-top:0px ! important;
            margin-bottom:10px ! important;
            margin-left:0px ! important;
            margin-right:0px ! important;
            width:220px ! important;
            height:220px ! important;
        }

        .AmplifierDetails_img img
            {
                width:220px ! important;
            height:220px ! important;
             
            }

        .hText
        {
            width:100% ! important;
        }

        /*.popUpPruducts img.thumbImg
    {
        margin-left: 0px ! important;
        width: 0px !important;
        height: 0px ! important;
    }*/
}

/*----------------new----------/*/

 .side-bar
        {
            
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            text-align: justify;
            margin-top:50px;
            margin-bottom:50px;
            
            
        }
 .side-bar ul
{
   list-style:none;
 }

 .mar
        {
            margin-left: 160px;
        }

        .toggleDivision
        {
            width:100%;
        }

        .Amplifier_topDivMiddleNew
        {
            border-bottom: 1px solid #f8d8b8;
            float: left;
            height: 410px;
            margin: 50px 0;
            position: relative;
            width: 275px;
        }

        .AmplifierDetailsNew_img
        {
            background: #FFF;
            border: 1px solid #e5e4e3;
            -ms-border-radius: 155px;
            border-radius: 155px;
            height: 220px;
            margin: 0 40px;
            width: 220px;
        }

        .AmplifierDetailsNew_img img {
        -ms-border-radius: 155px;
        border-radius: 155px;
    }
       
        #AmplifierDetail {
    float: left;
    height: auto;
    position: relative;
    text-align: center;
   
}

        #AmplifierDetail h2 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 20px;
    margin: 10px;
    margin-left:46px;
    padding: 0;
   width: 220px !important;
}

#AmplifierDetail p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 48px;
    margin-left: 50px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 220px;
}

.ArticlesDetails img {
width:90% !important;
}

#AmplifierDetail ul {
    float: left;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
   
}

    #AmplifierDetail ul li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        
    }

        .pdfImg
        {
            margin-left:25px;
        }

       .innercontentpanel
        {
            background-color:#fcf5ee;
            margin-top:-17px;
        }

       .brand-bar
    {
        text-align:left;
       padding-bottom:5px;
       margin-top:50px !important;
    }

  

        /*==========product style================*/
         .popUpPruducts
    {
        width:90%;
        text-align:justify;
        margin-left:30px;
    }

#Text
{
     margin-left:0px;
        /*clear:left;*/
        margin-top:60px;
}

   .productDetails
    {
        margin-left:0px;
        /*clear:left;*/
        margin-top:60px;
    }

    .popUpPruducts h1
    {
        text-align:initial;
    }

    .Image
    {
        margin-top:10px;
    }

   

    .spanButton
    {
        clear:both;
        margin-top:10px;
        /*margin-left:25px;*/
    }

     .loading {
    background-color: #fff;
    bottom: 0;
    display: none;
    filter: alpha(opacity=80);
    left: 0;
    -ms-opacity: .8;
    opacity: .8;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 98;
}

    .loading div {
        height: 400px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 600px;
    }

        .loading div img {
            vertical-align: middle;
        }

        .innercontentpanel
        {
            background-color:#fcf5ee;
            margin-top:-17px;
        }


.list-group-submenu {
  margin-left:20px;
}
.plus{
  margin-right:10px;
  float:left;
  color:#b79556;
  margin-top:-25px ! important;
  margin-left:10px ! important;
}
.glyphicon-plus{
	font-size:10px;
    margin-top:5px;
}
.glyphicon-chevron-down{
	margin-right:10px;
  float:left;
  color:#b79556;
    margin-top:-24px ! important;
    margin-left:20px ! important;
}
 .glyphicon-minus{
  margin-right:10px;
  float:left;
  color:#b79556;
  margin-top:-27px ! important;
  margin-left:20px ! important;
}
.colordiv{
	background-color:#fff;
  	border-bottom:transparent;
  border-top:transparent;
  border-right:transparent;
  border-left:transparent;
  color:#996 !important;
  margin-left:15px ! important;
}

    .colordiv:hover
    {
        color:#cdab64 ! important;
    }


.list-group-item-success{
	background-color:#ffffff !important;
}
.subdiv{
		background-color:#fff;
  	border-bottom:transparent;
  border-top:transparent;
  border-right:transparent;
  border-left:transparent;
  color:#996 !important;
  margin-left:25px ! important;
 
}
.subdiv1{
  background-color:#fff;
  border-bottom:transparent;
  border-top:transparent;
  border-right:transparent;
  border-left:transparent;
  color:#996 !important;
  margin-left:35px;
}

.tagtext{
	border:0.5px solid #cdab64!important;
  	line-height:25px;
    display:inline-block!important;
    text-align:left;
  margin-left:5px;
  margin-top:4px;
  position:relative!important;
  padding:10px 10px;
}

    .tagtext a
    {
        text-decoration:none;
        color:#000000;
    }

    .brand-bar a:link
    {
        color:#000000;
    }

span{
  margin-top:8px;
  margin-bottom:8px;
  margin-left:10px;
  padding:3px;
  color: #000000;

 }

  
.brand-bar a
    {
        text-decoration:none;
    }

.custom-item
    {
        width:auto;
        height:auto;
        padding:5px 10px ! important;
    }

.hText
    {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: justify;
        letter-spacing: 0.04em;
        line-height: 24px;
        float:left;
    }

    .inner_header_new.hText
    {
        text-align: justify;
    }

    #pageText
    {
        margin-top: 30px;
    }

     #AmplifierDetailed
    {
        margin-top:30px;
    }


.inner_header_new
{
    margin-top:30px;
}

.side-bar h4
        {
        letter-spacing:0.03em;
		color:#cdab64;
    }

hr.style7 {
	border-top: 1px solid #cdab64 ;
	border-bottom: 1px solid #fff ;
    margin-top:3px ;
    margin-bottom:10px ;
}
 
.btn-warning.btnColor
{
    color: #fff !important;
    background-color: #cdab64 !important;
    border-color: #cdab64 !important;
    margin-right:3px;
}

.inner_header_new h1
{
    width: 58.33333333%;
    color: #996;
    font-family: DINOT-Light, sans-serif;
   font-weight: 100;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:12px !important;
    letter-spacing: 0.02em;
    font-size: 36px;
    text-align:justify;
}



.thumbImage
{
    width : 220px !important ;
    height : 220px !important;
}

.td-valign
{
    vertical-align:top;
    text-align:right;
}

span.field-validation-valid {
    display: none ! important;
}

.table-width
{
    width:100%;
}

.panel a:focus, a:hover
{
    text-decoration:none !important;
    /*color:#cdab64 !important;*/
}

.primaryfooter a:hover
{
    color:#cdab64 !important;
}