@font-face
{
    font-family: 'Dinot-medium';
    src: url('/Content/Uploads/Campaigns/7/Aktimate Landing Page/fonts/dinot-medium.eot');
    src: url('/Content/Uploads/Campaigns/7/Aktimate Landing Page/fonts/dinot-medium.eot?#iefix') format('embedded-opentype'), url('/Content/Uploads/Campaigns/7/Aktimate Landing Page/fonts/dinot-medium.ttf') format('truetype');
}

*
{
    margin: 0px;
    padding: 0px;
}
h1
{
    font-family: 'Dinot-medium';
    font-size: 30px;
    color: #c20022;
    display: block;
    text-align: center;
}
body
{
    background: #fcefdc;
}
.wrapper
{
    width: 1023px;
    margin: 0px auto;
}
.wrapper h2
{
    font-family: Arial;
    font-size: 28px;
    color: #000;
    display: block;
    line-height: 33px;
    font-weight: normal;
    text-align: center;
    margin-top: 19px;
}
.banner
{
    width: 857px;
    height: 547px;
    margin: 0px auto;
}
span.allInOne
{
    font-family: 'Dinot-medium';
    font-size: 39px;
    color: #e80608;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: bold;
}
.content
{
    float: left;
    width: 1023px;
    margin-top: 13px;
}
.contentLeft
{
    float: left;
    display: block;
    width: 780px;
}
.contentLeft p
{
    font-family: 'Dinot-medium';
    font-size: 16px;
    color: #000;
    float: left;
    padding-bottom: 9px;
    width: 780px;
}
p.highlight
{
    color: #c20022;
    font-family: 'Dinot-medium';
}
.contentRight
{
    float: right;
    background: #79595a;
    width: 216px;
    border-radius: 5px;
    height: 291px;
}
.enquiry
{
    float: left;
}
.enquiry h2
{
    font-family: Arial;
    font-size: 18px;
    color: #fff;
    float: left;
    margin-top: 12px;
    margin-left: 20px;
    border-bottom: 1px solid #bcacac;
    width: 105px;
    padding-right: 40px;
    padding-bottom: 4px;
}
table
{
    padding: 7px 19px;
}
input
{
    width: 160px;
    height: 23px;
    border: none;
    margin: 5px 0px;
    padding: 0px 5px;
}
textarea
{
    width: 160px;
    height: 70px;
    border: none;
    resize: none;
    margin: 5px 0px;
    padding: 0px 5px;
}
input#submit
{
    width: 86px;
    background: #c20022;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0px auto;
    height: 24px;
    margin-top: 7px;
    border-radius: 3px;
}
.contentBottom
{
    float: left;
    width: 1023px;
}
.contentBottom h1
{
    font-family: 'Dinot-medium';
    font-size: 30px;
    color: #c20022;
    display: block;
    width: 656px;
    text-align: center;
    margin: -37px 0px 0px 57px;
}
.contentAfterBottom ul li
{
    display: inline-block;
    padding: 26px 66px;
}
.field-validation-error
{
    color: red;
    display: none;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    background-color: #fee;
    border: 1px solid red;
}
